* {
   margin: 0px;
   padding: 0px;
   font-family: sans-serif;
}




.vrdog__slider_swiper {
   width: 100%;
   margin: 0 auto;
   background-color: #fdfdfd;
   overflow: hidden;


   .vrdog__slider {
      .swiper-wrapper {
         .swiper-slide {

            border-radius: 07px;

            .side-imag {
               position: relative;
               height: auto;
               width: 100%;
               height: 50em;

               img {
                  height: 50em;
                  width: 100%;

               }

               .slide-content {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  text-align: center;

                 
                     h1 {
                        font-size: 4rem;
                        color: #eb645d;
                        font-weight: 700;
                        
                     }
                     h2,h3{
                        font-size: 2rem;
                        color: #202020;
                       
                        font-weight: 700;
                        margin-bottom: 20px;
                     }
                     h3{
                        color: #fdfdfd;
                     }
                  
               }

            }


         }

         .swiper-slide-active {
            transition: .7s ease 0s 1 normal forwards;
         }



      }

      .swiper-button-prev,
      .swiper-button-next {
         height: 40px;
         width: 40px;
         background: #ed1c24;

         &:hover {
            background: #fdfdfd;
            transition: .7s ease 0s 1 normal forwards;

            &::after {
               color: #202020;
            }
         }

         &::after {
            font-size: 20px;
            color: #fdfdfd;
         }
      }

      .swiper-pagination-bullet {
         height: 14px;
         width: 14px;
         background: #ed1c24;
      }

      .swiper-pagination-bullet-active {
         height: 16px;
         width: 16px;
         margin-bottom: -1px;
      }

   }
}









/* xx Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) and (max-width: 575.98px) {
   .vrdog__slider_swiper {
      .vrdog__slider {
         .swiper-wrapper {
            .swiper-slide {
               .side-imag {

                  height: 25em;

                  img {
                     height: 25em;


                  }
                  .slide-content {
                    
                     h1 {
                        font-size: 1.5rem;
                       
                        
                     }
                     h2{
                        font-size: 1rem;
                     }
                  
               }
               }
            }
         }
      }
   }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
   .vrdog__slider_swiper {
      .vrdog__slider {
         .swiper-wrapper {
            .swiper-slide {
               .side-imag {

                  height: 25em;

                  img {
                     height: 25em;


                  }
                  .slide-content {
                    
                     h1 {
                        font-size: 2rem;
                       
                        
                     }
                     h2{
                        font-size: 1.7rem;
                     }
                  
               }
               }
            }
         }
      }
   }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
   .vrdog__slider_swiper {
      .vrdog__slider {
         .swiper-wrapper {
            .swiper-slide {
               .side-imag {

                  height: 30em;

                  img {
                     height: 30em;


                  }


                  .slide-content {
                    
                        h1 {
                           font-size: 2rem;
                          
                           
                        }
                        h2{
                           font-size: 1.7rem;
                        }
                     
                  }
               }
            }
         }
      }
   }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

   /*======= Header =======*/
   .vrdog__slider_swiper {
      .vrdog__slider {
         .swiper-wrapper {
            .swiper-slide {
               .side-imag {

                  height: 35em;

                  img {
                     height: 35em;


                  }
                  .slide-content {
                    
                     h1 {
                        font-size: 3rem;
                       
                        
                     }
                     h2{
                        font-size: 2rem;
                     }
                  
               }
               }
            }
         }
      }
   }
}